Terminal/Terminal/Sources/Wsdls/wsdls/EnterpSupp/EnterpEffAndPrjMgmt/FunctionalLocationCreateOrChange(Obsolete)/FunctionalLocationCreateOrChange-RPC_v01.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FunctionalLocationCreateOrChange" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:doc="http://schemas.telekom.net/csdg-service-documentation_v01.01" xsi:schemaLocation="http://schemas.telekom.net/csdg-service-documentation_v01.01 ../../../../xsds-csdg/csdg-service-documentation_v01.01.xsd" xmlns:csdg="http://schemas.telekom.net/csdg_v01.01" targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/FunctionalLocationCreateOrChange_v01.00" xmlns:tns="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/FunctionalLocationCreateOrChange_v01.00">
  <documentation>
    <!-- !! @AUTHORS: INCREMENT VERSION NUMBER AND ADAPT "kind-of-creation" AFTER CHANGES !! -->
    <doc:service governance-area="tint" domain="EnterpSupp" functional-component="EnterpEffAndPrjMgmt" version="01.00.000" version-date="2017-05-10" isLogicalService="true">
      <doc:description>
Updated on 04.11.2017 12:24:49, UTC
15486	07.09.2017 15:34:33	No more extensibility
14990	07.08.2017 10:14:56	&lt;xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/&gt;

Updated on 01.06.2017 10:45:52, UTC
14117	01.06.2017 10:04:33	Version fix. MOM deleted
13980	23.05.2017 08:08:18	Transporatation zone

Updated on 10.05.2017 08:59:11, UTC
13855	10.05.2017 08:58:13	Corrections for CSDG validator

Updated on 30.03.2017 09:32:06, UTC
13481	30.03.2017 09:29:10	Transportation zone field added to address
13479	30.03.2017 09:01:59	Change reverted from 8th of January
12430	08.01.2017 12:28:03	Correction in types
12404	04.01.2017 11:32:02	Typo fix in describtion

Updated on 09.05.2016 09:37:29, UTC
8679	09.05.2016 09:37:15	SortField field deleted.
AOFuncation field added.
8454	12.04.2016 14:09:29	

Updated on 04.03.2016 09:06:52, UTC
7524	29.02.2016 13:24:20	StreetSupplimentary and Location fields in address
6759	03.02.2016 09:53:00	FLOC superior field

Updated on 27.05.2015 18:36:12, UTC
5442	20.05.2015 16:01:55	Byte order mark deleted. utf-8 -&gt; UTF-8
5437	20.05.2015 09:35:37	Version updated for wsdls for 15C
5275	14.04.2015 12:51:06	
5140	13.03.2015 15:15:59	Upload documents interface
5072	11.03.2015 15:27:53	FP_IP_1071_E_Create_or_change_functional_location_request_en
Header\PlanningPlantId renamed to Header\MaintenancePlanningPlantId. 
Fields added:
-	Header\MaintenancePlantId
-	Header\CompanyId
FP_IP_1033_E_Functional_location_distribution_en
Header\PlanningPlantId renamed to Header\MaintenancePlanningPlantId. 
Fields added:
-	Header\MaintenancePlantId
-	Header\CompanyId
5067	11.03.2015 14:56:19	
5042	11.03.2015 08:41:23	
5031	10.03.2015 16:06:32	
4995	06.03.2015 14:11:58	Minor changes
4986	06.03.2015 11:28:17	AddressCreateOrChangeData.xsd
4962	05.03.2015 17:42:45	Addresses and floc
4773	04.02.2015 14:20:52	Material distribution interfaces.
	Elements added: "Header\TypeId", "Valuation"
	Fixed attributed for "BatchNumber".
WorkCenter distribution
	Element added - "PersonResponsible"
Function location create or change
	Element added - "AddressNumber"
CS order get by filter, CS order distribute, CS order create or change. Following elements added:
	Components\PurchaseDocumentId 
	Components\PurchaseDocumentItemNumber
	Components\TrackingNumber
	Operations\TrackingNumber

4600	12.01.2015 15:44:53	Typo
4413	25.11.2014 11:59:17	CSDG. One operation = one service.
4372	23.11.2014 19:47:36	Changes for CSDG
4370	21.11.2014 17:36:28	New TDs for CSDG, fixing MEP pattern
4272	12.11.2014 16:39:27	New services were added
4108	30.10.2014 17:36:14	Multioperation services
3829	03.10.2014 12:52:05	Changes
3693	24.09.2014 15:13:12	SoaBP wsdls

				-------------------------- @TODO:DESCRIBE_ME - Service "FunctionalLocationCreateOrChange" -----------------------------
			</doc:description>
      <doc:designer>mailto:Augustinus.Deimel@telekom.de</doc:designer>
      <doc:kind-of-creation>GENERATED</doc:kind-of-creation>
      <doc:change predecessorVersion="01.00.000" by="A.Deimel" date="2014-11-21" doc:lang="en">15486</doc:change>
    </doc:service>
  </documentation>
  <types>
    <xsd:schema targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/FunctionalLocationCreateOrChange_v01.00" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.00" xmlns:types="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/FunctionalLocationCreateOrChange_v01.00/types">
      <!-- ****************************************************************** -->
      <xsd:import namespace="http://schemas.telekom.net/csdg_v01.01" schemaLocation="../../../../xsds-csdg/csdg_v01.01.xsd" />
      <xsd:import namespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/FunctionalLocationCreateOrChange_v01.00/types" schemaLocation="FunctionalLocationCreateOrChange_v01.00.xsd" />
      <!-- ****************************************************************** -->
      <xsd:element name="createOrChangeAsync" type="types:CreateOrChangeAsyncRequestType" />
      <xsd:element name="createOrChangeAsyncCallback" type="types:CreateOrChangeAsyncResponseType" />
      <xsd:element name="createOrChangeAsyncFault" type="types:CreateOrChangeAsyncFaultType" />
    </xsd:schema>
  </types>
  <!-- ****************************************************************** -->
  <!-- Messages : -->
  <!-- ****************************************************************** -->
  <message name="CreateOrChangeAsyncRequest">
    <part name="parameters" element="tns:createOrChangeAsync" />
  </message>
  <message name="CreateOrChangeAsyncResponse">
    <part name="parameters" element="tns:createOrChangeAsyncCallback" />
  </message>
  <message name="CreateOrChangeAsyncFault">
    <part name="parameters" element="tns:createOrChangeAsyncFault" />
  </message>
  <message name="EmptyTechnicalResponse">
    <part name="parameters" element="csdg:empty" />
  </message>
  <message name="TechnicalFault">
    <part name="parameters" element="csdg:technicalFault" />
  </message>
  <!-- ****************************************************************** -->
  <!-- PortTypes : -->
  <!-- ****************************************************************** -->
  <!-- Provider: -->
  <portType name="FunctionalLocationCreateOrChange">
    <operation name="createOrChangeAsync">
      <documentation>
        <doc:operation mep="RequestCallback" access="ReadOnly">
          <doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "createOrChangeAsync" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:CreateOrChangeAsyncRequest" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
  </portType>
  <!-- ****************************************************************** -->
  <!-- Consumer : -->
  <portType name="FunctionalLocationCreateOrChangeConsumer">
    <operation name="createOrChangeAsyncCallback">
      <input message="tns:CreateOrChangeAsyncResponse" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="createOrChangeAsyncFault">
      <input message="tns:CreateOrChangeAsyncFault" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
  </portType>
</definitions>