Terminal/Terminal/Sources/Wsdls/wsdls/EnterpSupp/EnterpEffAndPrjMgmt/PurchaseOrder(Obsolete)/PurchaseOrder-RPC_v01.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PurchaseOrder" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:doc="http://schemas.telekom.net/csdg-service-documentation_v01.01" xsi:schemaLocation="http://schemas.telekom.net/csdg-service-documentation_v01.01 ../../../../xsds-csdg/csdg-service-documentation_v01.01.xsd" xmlns:csdg="http://schemas.telekom.net/csdg_v01.01" targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/PurchaseOrder_v01.00" xmlns:tns="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/PurchaseOrder_v01.00">
  <documentation>
    <!-- !! @AUTHORS: INCREMENT VERSION NUMBER AND ADAPT "kind-of-creation" AFTER CHANGES !! -->
    <doc:service governance-area="tint" domain="EnterpSupp" functional-component="EnterpEffAndPrjMgmt" version="01.00.000" version-date="2017-03-30">
      <doc:description>
Updated on 04.11.2017 12:24:49, UTC
15486	07.09.2017 15:34:33	No more extensibility
14990	07.08.2017 10:14:56	&lt;xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/&gt;

Updated on 01.06.2017 10:45:52, UTC
14117	01.06.2017 10:04:33	Version fix. MOM deleted

Updated on 30.03.2017 09:32:06, UTC
12404	04.01.2017 11:32:02	Typo fix in describtion

				-------------------------- @TODO:DESCRIBE_ME - Service "PurchaseOrder" -----------------------------
			</doc:description>
      <doc:designer>mailto:Augustinus.Deimel@telekom.de</doc:designer>
      <doc:kind-of-creation>GENERATED</doc:kind-of-creation>
      <doc:change predecessorVersion="01.00.000" by="A.Deimel" date="2016-08-05" doc:lang="en">15486</doc:change>
    </doc:service>
  </documentation>
  <types>
    <xsd:schema targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/PurchaseOrder_v01.00" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.00" xmlns:types="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/PurchaseOrder_v01.00/types">
      <!-- ****************************************************************** -->
      <xsd:import namespace="http://schemas.telekom.net/csdg_v01.01" schemaLocation="../../../../xsds-csdg/csdg_v01.01.xsd" />
      <xsd:import namespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/PurchaseOrder_v01.00/types" schemaLocation="PurchaseOrder_v01.00.xsd" />
      <!-- ****************************************************************** -->
      <xsd:element name="createOrChange" type="types:CreateOrChangeRequestType" />
      <xsd:element name="createOrChangeResponse" type="types:CreateOrChangeResponseType" />
    </xsd:schema>
  </types>
  <!-- ****************************************************************** -->
  <!-- Messages : -->
  <!-- ****************************************************************** -->
  <message name="CreateOrChangeRequest">
    <part name="parameters" element="tns:createOrChange" />
  </message>
  <message name="CreateOrChangeResponse">
    <part name="parameters" element="tns:createOrChangeResponse" />
  </message>
  <message name="EmptyTechnicalResponse">
    <part name="parameters" element="csdg:empty" />
  </message>
  <message name="TechnicalFault">
    <part name="parameters" element="csdg:technicalFault" />
  </message>
  <!-- ****************************************************************** -->
  <!-- PortTypes : -->
  <!-- ****************************************************************** -->
  <!-- Provider: -->
  <portType name="PurchaseOrder">
    <operation name="createOrChange">
      <documentation>
        <doc:operation mep="RequestResponse" access="ReadOnly">
          <doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "createOrChange" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:CreateOrChangeRequest" />
      <output message="tns:CreateOrChangeResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
  </portType>
</definitions>