Terminal/Terminal/Sources/Wsdls/wsdls/EnterpSupp/EnterpEffAndPrjMgmt/Material/Material-RPC_v01.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Material" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:doc="http://schemas.telekom.net/csdg-service-documentation_v01.01" xsi:schemaLocation="http://schemas.telekom.net/csdg-service-documentation_v01.01 ../../../../xsds-csdg/csdg-service-documentation_v01.01.xsd" xmlns:csdg="http://schemas.telekom.net/csdg_v01.01" targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/Material_v01.00" xmlns:tns="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/Material_v01.00">
	<documentation>
		<!-- !! @AUTHORS: INCREMENT VERSION NUMBER AND ADAPT "kind-of-creation" AFTER CHANGES !! -->
		<doc:service governance-area="tint" domain="EnterpSupp" functional-component="EnterpEffAndPrjMgmt" version="01.00.000" version-date="2017-05-17">
			<doc:description>
Updated on 04.11.2017 12:24:49, UTC
15694	26.09.2017 11:52:08	Minor impreovements
15486	07.09.2017 15:34:33	No more extensibility
14990	07.08.2017 10:14:56	&lt;xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/&gt;

Updated on 01.06.2017 10:45:52, UTC
14117	01.06.2017 10:04:33	Version fix. MOM deleted

Updated on 17.05.2017 14:24:44, UTC
13939	17.05.2017 14:22:20	Dto suffix for bussiness types
13924	17.05.2017 08:05:23	Renaming
13923	17.05.2017 07:44:29	Dto suffix

Updated on 10.05.2017 08:59:11, UTC
13610	12.04.2017 14:45:47	Minor correction
13608	12.04.2017 13:52:54	Minor correction
13607	12.04.2017 11:58:27	Structure fix
13606	12.04.2017 11:09:34	Replenishment dates
13600	12.04.2017 08:31:54	MaterialAsync wsdl

Updated on 30.03.2017 09:32:06, UTC
13378	17.03.2017 11:12:44	typo in type fix
13377	17.03.2017 10:58:50	FullObject for change filter
13352	16.03.2017 17:17:07	Change marker fix
12541	17.01.2017 13:40:40	material wsdls
12475	11.01.2017 13:53:38	Equipment interface
12444	10.01.2017 11:44:33	Wsdl for service + structure corrections

				-------------------------- @TODO:DESCRIBE_ME - Service "Material" -----------------------------
			</doc:description>
			<doc:designer>mailto:Augustinus.Deimel@telekom.de</doc:designer>
			<doc:kind-of-creation>GENERATED</doc:kind-of-creation>
			<doc:change predecessorVersion="01.00.000" by="A.Deimel" date="2016-08-05" doc:lang="en">15694</doc:change>
		</doc:service>
	</documentation>
	<types>
		<xsd:schema targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/Material_v01.00" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.00" xmlns:types="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/Material_v01.00/types">
			<!-- ****************************************************************** -->
			<xsd:import namespace="http://schemas.telekom.net/csdg_v01.01" schemaLocation="../../../../xsds-csdg/csdg_v01.01.xsd" />
			<xsd:import namespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/Material_v01.00/types" schemaLocation="Material_v01.00.xsd" />
			<!-- ****************************************************************** -->
			<xsd:element name="getByFilter" type="types:GetByFilterRequestType" />
			<xsd:element name="getByFilterResponse" type="types:GetByFilterResponseType" />
			<xsd:element name="getChanges" type="types:GetChangesRequestType" />
			<xsd:element name="getChangesResponse" type="types:GetChangesResponseType" />
			<xsd:element name="checkAvailability" type="types:CheckAvailabilityRequestType" />
			<xsd:element name="checkAvailabilityResponse" type="types:CheckAvailabilityResponseType" />
			<xsd:element name="getStockByVendor" type="types:GetStockByVendorRequestType" />
			<xsd:element name="getStockByVendorResponse" type="types:GetStockByVendorResponseType" />
			<xsd:element name="getBomStructureSimplified" type="types:GetBomStructureSimplifiedRequestType" />
			<xsd:element name="getBomStructureSimplifiedResponse" type="types:GetBomStructureSimplifiedResponseType" />
			<xsd:element name="getStockLevels" type="types:GetStockLevelsRequestType" />
			<xsd:element name="getStockLevelsResponse" type="types:GetStockLevelsResponseType" />
		</xsd:schema>
	</types>
	<!-- ****************************************************************** -->
	<!-- Messages : -->
	<!-- ****************************************************************** -->
	<message name="GetByFilterRequest">
		<part name="parameters" element="tns:getByFilter" />
	</message>
	<message name="GetByFilterResponse">
		<part name="parameters" element="tns:getByFilterResponse" />
	</message>
	<message name="GetChangesRequest">
		<part name="parameters" element="tns:getChanges" />
	</message>
	<message name="GetChangesResponse">
		<part name="parameters" element="tns:getChangesResponse" />
	</message>
	<message name="CheckAvailabilityRequest">
		<part name="parameters" element="tns:checkAvailability" />
	</message>
	<message name="CheckAvailabilityResponse">
		<part name="parameters" element="tns:checkAvailabilityResponse" />
	</message>
	<message name="GetStockByVendorRequest">
		<part name="parameters" element="tns:getStockByVendor" />
	</message>
	<message name="GetStockByVendorResponse">
		<part name="parameters" element="tns:getStockByVendorResponse" />
	</message>
	<message name="GetBomStructureSimplifiedRequest">
		<part name="parameters" element="tns:getBomStructureSimplified" />
	</message>
	<message name="GetBomStructureSimplifiedResponse">
		<part name="parameters" element="tns:getBomStructureSimplifiedResponse" />
	</message>
	<message name="GetStockLevelsRequest">
		<part name="parameters" element="tns:getStockLevels" />
	</message>
	<message name="GetStockLevelsResponse">
		<part name="parameters" element="tns:getStockLevelsResponse" />
	</message>  
	<message name="EmptyTechnicalResponse">
		<part name="parameters" element="csdg:empty" />
	</message>
	<message name="TechnicalFault">
		<part name="parameters" element="csdg:technicalFault" />
	</message>
	<!-- ****************************************************************** -->
	<!-- PortTypes : -->
	<!-- ****************************************************************** -->
	<!-- Provider: -->
	<portType name="Material">
		<operation name="getByFilter">
			<documentation>
				<doc:operation mep="RequestResponse" access="ReadOnly">
					<doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "getByFilter" -----------------------------
					</doc:description>
				</doc:operation>
			</documentation>
			<input message="tns:GetByFilterRequest" />
			<output message="tns:GetByFilterResponse" />
			<fault message="tns:TechnicalFault" name="TechnicalFault" />
		</operation>
		<operation name="getChanges">
			<documentation>
				<doc:operation mep="RequestResponse" access="ReadOnly">
					<doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "getChanges" -----------------------------
					</doc:description>
				</doc:operation>
			</documentation>
			<input message="tns:GetChangesRequest" />
			<output message="tns:GetChangesResponse" />
			<fault message="tns:TechnicalFault" name="TechnicalFault" />
		</operation>
		<operation name="checkAvailability">
			<documentation>
				<doc:operation mep="RequestResponse" access="ReadOnly">
					<doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "getChanges" -----------------------------
					</doc:description>
				</doc:operation>
			</documentation>
			<input message="tns:CheckAvailabilityRequest" />
			<output message="tns:CheckAvailabilityResponse" />
			<fault message="tns:TechnicalFault" name="TechnicalFault" />
		</operation>
		<operation name="getStockByVendor">
			<documentation>
				<doc:operation mep="RequestResponse" access="ReadOnly">
					<doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "getChanges" -----------------------------
					</doc:description>
				</doc:operation>
			</documentation>
			<input message="tns:GetStockByVendorRequest" />
			<output message="tns:GetStockByVendorResponse" />
			<fault message="tns:TechnicalFault" name="TechnicalFault" />
		</operation>
		<operation name="getBomStructureSimplified">
			<documentation>
				<doc:operation mep="RequestResponse" access="ReadOnly">
					<doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "getChanges" -----------------------------
					</doc:description>
				</doc:operation>
			</documentation>
			<input message="tns:GetBomStructureSimplifiedRequest" />
			<output message="tns:GetBomStructureSimplifiedResponse" />
			<fault message="tns:TechnicalFault" name="TechnicalFault" />
		</operation>
		<operation name="getStockLevels">
			<documentation>
				<doc:operation mep="RequestResponse" access="ReadOnly">
					<doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "getStockLevels" -----------------------------
					</doc:description>
				</doc:operation>
			</documentation>
			<input message="tns:GetStockLevelsRequest" />
			<output message="tns:GetStockLevelsResponse" />
			<fault message="tns:TechnicalFault" name="TechnicalFault" />
		</operation>
	</portType>
</definitions>