Terminal/Terminal/Sources/Wsdls/wsdls/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrder/SalesOrder-RPC_v01.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SalesOrder" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:doc="http://schemas.telekom.net/csdg-service-documentation_v01.01" xsi:schemaLocation="http://schemas.telekom.net/csdg-service-documentation_v01.01 ../../../../xsds-csdg/csdg-service-documentation_v01.01.xsd" xmlns:csdg="http://schemas.telekom.net/csdg_v01.01" targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrder_v01.00" xmlns:tns="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrder_v01.00">
  <documentation>
    <!-- !! @AUTHORS: INCREMENT VERSION NUMBER AND ADAPT "kind-of-creation" AFTER CHANGES !! -->
    <doc:service governance-area="tint" domain="EnterpSupp" functional-component="EnterpEffAndPrjMgmt" version="01.00.000" version-date="2017-05-17">
      <doc:description>
Updated on 04.11.2017 12:24:49, UTC
15486	07.09.2017 15:34:33	No more extensibility
14990	07.08.2017 10:14:56	&lt;xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/&gt;

Updated on 24.07.2017 08:31:40, UTC
14803	24.07.2017 08:29:13	X-WBS length changed to 24

Updated on 24.07.2017 07:33:31, UTC
14801	24.07.2017 07:31:39	
14567	05.07.2017 14:26:36	Statuses moved from item to header

14521	03.07.2017 15:44:40	Category occurrence change
14517	03.07.2017 14:05:01	
14425	26.06.2017 08:51:16	
14246	13.06.2017 13:18:03	

Updated on 01.06.2017 10:45:52, UTC
14117	01.06.2017 10:04:33	Version fix. MOM deleted

Updated on 17.05.2017 14:24:44, UTC
13939	17.05.2017 14:22:20	Dto suffix for bussiness types
13924	17.05.2017 08:05:23	Renaming
13923	17.05.2017 07:44:29	Dto suffix

Updated on 30.03.2017 09:32:06, UTC
13378	17.03.2017 11:12:44	typo in type fix
13377	17.03.2017 10:58:50	FullObject for change filter
13352	16.03.2017 17:17:07	Change marker fix
12995	21.02.2017 16:28:20	Item structure occurance fixed
12878	14.02.2017 13:09:40	Minor wsdl fix
12849	10.02.2017 14:34:29	SDOrder async
12581	19.01.2017 09:26:28	TypeId added to SD Order structures

12558	18.01.2017 09:14:27	Items node occurrence fixed
12469	11.01.2017 11:42:50	Action field added
12465	11.01.2017 10:32:48	Minor corrections
12449	10.01.2017 13:54:36	Sales order wsdl added
12444	10.01.2017 11:44:33	Wsdl for service + structure corrections
12404	04.01.2017 11:32:02	Typo fix in describtion

                -------------------------- @TODO:DESCRIBE_ME - Service "SalesOrder" -----------------------------
			</doc:description>
      <doc:designer>mailto:Augustinus.Deimel@telekom.de</doc:designer>
      <doc:kind-of-creation>GENERATED</doc:kind-of-creation>
      <doc:change predecessorVersion="01.00.000" by="A.Deimel" date="2017-12-04" doc:lang="en">15486</doc:change>
    </doc:service>
  </documentation>
  <types>
    <xsd:schema targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrder_v01.00" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.00" xmlns:types="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrder_v01.00/types">
      <!-- ****************************************************************** -->
      <xsd:import namespace="http://schemas.telekom.net/csdg_v01.01" schemaLocation="../../../../xsds-csdg/csdg_v01.01.xsd" />
      <xsd:import namespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrder_v01.00/types" schemaLocation="SalesOrder_v01.00.xsd" />
      <!-- ****************************************************************** -->
      <xsd:element name="createOrChange" type="types:CreateOrChangeRequestType" />
      <xsd:element name="createOrChangeResponse" type="types:CreateOrChangeResponseType" />
      <xsd:element name="getByFilter" type="types:GetByFilterRequestType" />
      <xsd:element name="getByFilterResponse" type="types:GetByFilterResponseType" />
      <xsd:element name="getChanges" type="types:GetChangesRequestType" />
      <xsd:element name="getChangesResponse" type="types:GetChangesResponseType" />
    </xsd:schema>
  </types>
  <!-- ****************************************************************** -->
  <!-- Messages : -->
  <!-- ****************************************************************** -->
  <message name="CreateOrChangeRequest">
    <part name="parameters" element="tns:createOrChange" />
  </message>
  <message name="CreateOrChangeResponse">
    <part name="parameters" element="tns:createOrChangeResponse" />
  </message>
  <message name="GetByFilterRequest">
    <part name="parameters" element="tns:getByFilter" />
  </message>
  <message name="GetByFilterResponse">
    <part name="parameters" element="tns:getByFilterResponse" />
  </message>
  <message name="GetChangesRequest">
    <part name="parameters" element="tns:getChanges" />
  </message>
  <message name="GetChangesResponse">
    <part name="parameters" element="tns:getChangesResponse" />
  </message>
  <message name="EmptyTechnicalResponse">
    <part name="parameters" element="csdg:empty" />
  </message>
  <message name="TechnicalFault">
    <part name="parameters" element="csdg:technicalFault" />
  </message>
  <!-- ****************************************************************** -->
  <!-- PortTypes : -->
  <!-- ****************************************************************** -->
  <!-- Provider: -->
  <portType name="SalesOrder">
    <operation name="createOrChange">
      <documentation>
        <doc:operation mep="RequestResponse" access="ReadOnly">
          <doc:description>
                        -------------------------- @TODO:DESCRIBE_ME - Operation "createOrChange" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:CreateOrChangeRequest" />
      <output message="tns:CreateOrChangeResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="getByFilter">
      <documentation>
        <doc:operation mep="RequestResponse" access="ReadOnly">
          <doc:description>
                        -------------------------- @TODO:DESCRIBE_ME - Operation "getByFilter" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:GetByFilterRequest" />
      <output message="tns:GetByFilterResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="getChanges">
      <documentation>
        <doc:operation mep="RequestResponse" access="ReadOnly">
          <doc:description>
                        -------------------------- @TODO:DESCRIBE_ME - Operation "getByFilter" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:GetChangesRequest" />
      <output message="tns:GetChangesResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
  </portType>
</definitions>