Terminal/Terminal/Sources/Wsdls/wsdls/EnterpSupp/EnterpEffAndPrjMgmt/OutboundDeliveryConfirmDecentral(Obsolete)/OutboundDeliveryConfirmDecentral-RPC_v01.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OutboundDeliveryConfirmDecentral" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:doc="http://schemas.telekom.net/csdg-service-documentation_v01.01" xsi:schemaLocation="http://schemas.telekom.net/csdg-service-documentation_v01.01 ../../../../xsds-csdg/csdg-service-documentation_v01.01.xsd" xmlns:csdg="http://schemas.telekom.net/csdg_v01.01" targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/OutboundDeliveryConfirmDecentral_v01.00" xmlns:tns="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/OutboundDeliveryConfirmDecentral_v01.00">
  <documentation>
    <!-- !! @AUTHORS: INCREMENT VERSION NUMBER AND ADAPT "kind-of-creation" AFTER CHANGES !! -->
    <doc:service governance-area="tint" domain="EnterpSupp" functional-component="EnterpEffAndPrjMgmt" version="01.00.000" version-date="2017-05-10" isLogicalService="true">
      <doc:description>
Updated on 04.11.2017 12:24:49, UTC
15486	07.09.2017 15:34:33	No more extensibility
14990	07.08.2017 10:14:56	&lt;xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/&gt;

Updated on 01.06.2017 10:45:52, UTC
14117	01.06.2017 10:04:33	Version fix. MOM deleted

Updated on 10.05.2017 08:59:11, UTC
13855	10.05.2017 08:58:13	Corrections for CSDG validator

Updated on 30.03.2017 09:32:06, UTC
12404	04.01.2017 11:32:02	Typo fix in describtion

Updated on 27.05.2015 18:36:12, UTC
5442	20.05.2015 16:01:55	Byte order mark deleted. utf-8 -&gt; UTF-8
5437	20.05.2015 09:35:37	Version updated for wsdls for 15C
5430	19.05.2015 12:50:24	Manufacturer field deleted
5412	15.05.2015 19:53:07	Serial number fields renamed
5393	13.05.2015 09:16:09	References fixed
5367	11.05.2015 11:58:22	
5140	13.03.2015 15:15:59	Upload documents interface
4603	13.01.2015 18:24:27	Typo
4413	25.11.2014 11:59:17	CSDG. One operation = one service.
4272	12.11.2014 16:39:27	New services were added
4108	30.10.2014 17:36:14	Multioperation services
3829	03.10.2014 12:52:05	Changes
3693	24.09.2014 15:13:12	SoaBP wsdls

				-------------------------- @TODO:DESCRIBE_ME - Service "OutboundDeliveryConfirmDecentral" -----------------------------
			</doc:description>
      <doc:designer>mailto:Augustinus.Deimel@telekom.de</doc:designer>
      <doc:kind-of-creation>GENERATED</doc:kind-of-creation>
      <doc:change predecessorVersion="01.00.000" by="A.Deimel" date="2014-11-21" doc:lang="en">15486</doc:change>
    </doc:service>
  </documentation>
  <types>
    <xsd:schema targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/OutboundDeliveryConfirmDecentral_v01.00" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.00" xmlns:types="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/OutboundDeliveryConfirmDecentral_v01.00/types">
      <!-- ****************************************************************** -->
      <xsd:import namespace="http://schemas.telekom.net/csdg_v01.01" schemaLocation="../../../../xsds-csdg/csdg_v01.01.xsd" />
      <xsd:import namespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/OutboundDeliveryConfirmDecentral_v01.00/types" schemaLocation="OutboundDeliveryConfirmDecentral_v01.00.xsd" />
      <!-- ****************************************************************** -->
      <xsd:element name="confirmDecentralAsync" type="types:ConfirmDecentralAsyncRequestType" />
      <xsd:element name="confirmDecentralAsyncCallback" type="types:ConfirmDecentralAsyncResponseType" />
      <xsd:element name="confirmDecentralAsyncFault" type="types:ConfirmDecentralAsyncFaultType" />
    </xsd:schema>
  </types>
  <!-- ****************************************************************** -->
  <!-- Messages : -->
  <!-- ****************************************************************** -->
  <message name="ConfirmDecentralAsyncRequest">
    <part name="parameters" element="tns:confirmDecentralAsync" />
  </message>
  <message name="ConfirmDecentralAsyncResponse">
    <part name="parameters" element="tns:confirmDecentralAsyncCallback" />
  </message>
  <message name="ConfirmDecentralAsyncFault">
    <part name="parameters" element="tns:confirmDecentralAsyncFault" />
  </message>
  <message name="EmptyTechnicalResponse">
    <part name="parameters" element="csdg:empty" />
  </message>
  <message name="TechnicalFault">
    <part name="parameters" element="csdg:technicalFault" />
  </message>
  <!-- ****************************************************************** -->
  <!-- PortTypes : -->
  <!-- ****************************************************************** -->
  <!-- Provider: -->
  <portType name="OutboundDeliveryConfirmDecentral">
    <operation name="confirmDecentralAsync">
      <documentation>
        <doc:operation mep="RequestCallback" access="ReadOnly">
          <doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "confirmDecentralAsync" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:ConfirmDecentralAsyncRequest" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
  </portType>
  <!-- ****************************************************************** -->
  <!-- Consumer : -->
  <portType name="OutboundDeliveryConfirmDecentralConsumer">
    <operation name="confirmDecentralAsyncCallback">
      <input message="tns:ConfirmDecentralAsyncResponse" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="confirmDecentralAsyncFault">
      <input message="tns:ConfirmDecentralAsyncFault" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
  </portType>
</definitions>