Terminal/Terminal/Sources/Wsdls/wsdls/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrderAsync/SalesOrderAsync-RPC_v01.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SalesOrderAsync" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:doc="http://schemas.telekom.net/csdg-service-documentation_v01.01" xsi:schemaLocation="http://schemas.telekom.net/csdg-service-documentation_v01.01 ../../../../xsds-csdg/csdg-service-documentation_v01.01.xsd" xmlns:csdg="http://schemas.telekom.net/csdg_v01.01" targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrderAsync_v01.00" xmlns:tns="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrderAsync_v01.00">
  <documentation>
    <!-- !! @AUTHORS: INCREMENT VERSION NUMBER AND ADAPT "kind-of-creation" AFTER CHANGES !! -->
    <doc:service governance-area="tint" domain="EnterpSupp" functional-component="EnterpEffAndPrjMgmt" version="01.00.000" version-date="2017-05-17" isLogicalService="true">
      <doc:description>
Updated on 04.11.2017 12:24:49, UTC
15486	07.09.2017 15:34:33	No more extensibility
14990	07.08.2017 10:14:56	&lt;xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/&gt;

Updated on 24.07.2017 08:31:40, UTC
14803	24.07.2017 08:29:13	X-WBS length changed to 24

Updated on 24.07.2017 07:33:31, UTC
14801	24.07.2017 07:31:39	
14567	05.07.2017 14:26:36	Statuses moved from item to header

14521	03.07.2017 15:44:40	Category occurrence change
14517	03.07.2017 14:05:01	
14425	26.06.2017 08:51:16	
14246	13.06.2017 13:18:03	

Updated on 01.06.2017 10:45:52, UTC
14117	01.06.2017 10:04:33	Version fix. MOM deleted

Updated on 17.05.2017 14:24:44, UTC
13939	17.05.2017 14:22:20	Dto suffix for bussiness types
13924	17.05.2017 08:05:23	Renaming
13923	17.05.2017 07:44:29	Dto suffix

Updated on 30.03.2017 09:32:06, UTC
13378	17.03.2017 11:12:44	typo in type fix
13377	17.03.2017 10:58:50	FullObject for change filter
13352	16.03.2017 17:17:07	Change marker fix
12995	21.02.2017 16:28:20	Item structure occurance fixed
12851	10.02.2017 17:17:44	CSOrder async
12849	10.02.2017 14:34:29	SDOrder async
12581	19.01.2017 09:26:28	TypeId added to SD Order structures

12558	18.01.2017 09:14:27	Items node occurrence fixed
12469	11.01.2017 11:42:50	Action field added
12465	11.01.2017 10:32:48	Minor corrections
12444	10.01.2017 11:44:33	Wsdl for service + structure corrections
12404	04.01.2017 11:32:02	Typo fix in describtion
</doc:description>
      <doc:designer>mailto:Augustinus.Deimel@telekom.de</doc:designer>
      <doc:kind-of-creation>GENERATED</doc:kind-of-creation>
      <doc:change predecessorVersion="01.00.000" by="A.Deimel" date="2014-11-25" doc:lang="en">15486</doc:change>
    </doc:service>
  </documentation>
  <types>
    <xsd:schema targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrderAsync_v01.00" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.00" xmlns:types="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrderAsync_v01.00/types">
      <!-- ****************************************************************** -->
      <xsd:import namespace="http://schemas.telekom.net/csdg_v01.01" schemaLocation="../../../../xsds-csdg/csdg_v01.01.xsd" />
      <xsd:import namespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/SalesOrderAsync_v01.00/types" schemaLocation="SalesOrderAsync_v01.00.xsd" />
      <!-- ****************************************************************** -->
      <xsd:element name="getByFilterAsync" type="types:GetByFilterAsyncRequestType" />
      <xsd:element name="getByFilterAsyncCallback" type="types:GetByFilterAsyncResponseType" />
      <xsd:element name="getByFilterAsyncFault" type="types:GetByFilterAsyncFaultType" />
      <xsd:element name="createOrChangeAsync" type="types:CreateOrChangeAsyncRequestType" />
      <xsd:element name="createOrChangeAsyncCallback" type="types:CreateOrChangeAsyncResponseType" />
      <xsd:element name="createOrChangeAsyncFault" type="types:CreateOrChangeAsyncFaultType" />
      <xsd:element name="getChangesAsync" type="types:GetChangesAsyncRequestType" />
      <xsd:element name="getChangesAsyncCallback" type="types:GetChangesAsyncResponseType" />
      <xsd:element name="getChangesAsyncFault" type="types:GetChangesAsyncFaultType" />
    </xsd:schema>
  </types>
  <!-- ****************************************************************** -->
  <!-- Messages : -->
  <!-- ****************************************************************** -->
  <message name="GetByFilterAsyncRequest">
    <part name="parameters" element="tns:getByFilterAsync" />
  </message>
  <message name="GetByFilterAsyncResponse">
    <part name="parameters" element="tns:getByFilterAsyncCallback" />
  </message>
  <message name="GetByFilterAsyncFault">
    <part name="parameters" element="tns:getByFilterAsyncFault" />
  </message>
  <message name="CreateOrChangeAsyncRequest">
    <part name="parameters" element="tns:createOrChangeAsync" />
  </message>
  <message name="CreateOrChangeAsyncResponse">
    <part name="parameters" element="tns:createOrChangeAsyncCallback" />
  </message>
  <message name="CreateOrChangeAsyncFault">
    <part name="parameters" element="tns:createOrChangeAsyncFault" />
  </message>
  <message name="GetChangesAsyncRequest">
    <part name="parameters" element="tns:getChangesAsync" />
  </message>
  <message name="GetChangesAsyncResponse">
    <part name="parameters" element="tns:getChangesAsyncCallback" />
  </message>
  <message name="GetChangesAsyncFault">
    <part name="parameters" element="tns:getChangesAsyncFault" />
  </message>
  <message name="EmptyTechnicalResponse">
    <part name="parameters" element="csdg:empty" />
  </message>
  <message name="TechnicalFault">
    <part name="parameters" element="csdg:technicalFault" />
  </message>
  <!-- ****************************************************************** -->
  <!-- PortTypes : -->
  <!-- ****************************************************************** -->
  <!-- Provider: -->
  <portType name="SalesOrderAsync">
    <operation name="getByFilterAsync">
      <documentation>
        <doc:operation mep="RequestCallback" access="ReadOnly">
          <doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "getByFilterAsync" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:GetByFilterAsyncRequest" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="createOrChangeAsync">
      <documentation>
        <doc:operation mep="RequestCallback" access="ReadOnly">
          <doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "createOrChangeAsync" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:CreateOrChangeAsyncRequest" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="getChangesAsync">
      <documentation>
        <doc:operation mep="RequestCallback" access="ReadOnly">
          <doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "getChangesAsync" -----------------------------
		  </doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:GetChangesAsyncRequest" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
  </portType>
  <!-- ****************************************************************** -->
  <!-- Consumer : -->
  <portType name="SalesOrderAsyncConsumer">
    <operation name="getByFilterAsyncCallback">
      <input message="tns:GetByFilterAsyncResponse" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="getByFilterAsyncFault">
      <input message="tns:GetByFilterAsyncFault" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="createOrChangeAsyncCallback">
      <input message="tns:CreateOrChangeAsyncResponse" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="createOrChangeAsyncFault">
      <input message="tns:CreateOrChangeAsyncFault" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="getChangesAsyncCallback">
      <input message="tns:GetChangesAsyncResponse" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="getChangesAsyncFault">
      <input message="tns:GetChangesAsyncFault" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
  </portType>
</definitions>