Terminal/Terminal/Sources/Wsdls/ngerp_core_psl_int_global_v1_pm/CSOrderDto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/PM"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/PM"
xmlns:bomtypesCommon="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1"
xmlns:bomtypesMM="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM"
xmlns:bomtypesMasterData="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MasterData">
	<xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1" schemaLocation="../ngerp_core_psl_int_global_v1/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>
	<xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM" schemaLocation="../ngerp_core_psl_int_global_v1_mm/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>  
	<xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MasterData" schemaLocation="../ngerp_core_psl_int_global_v1_master_data/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>
	<xsd:complexType name="CSOrderDto">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">CS order</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Action" type="bomtypesCommon:DT_Action">
				<xsd:annotation>
					<xsd:documentation>Action</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Id">
				<xsd:annotation>
					<xsd:documentation>Id.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Header" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Header</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OrderTypeId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Order type</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="MainWorkCenter" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Main work center</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="8"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="MaintenanceActivityTypeId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Maintenance activity type</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FunctionalLocationId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Funcational location</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="30"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ResponsibleCostCenter" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Responsible cost center</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="WbsElementId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Wbs element</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="24"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="StartAt" type="bomtypesCommon:NullableDateTime" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Start date and time</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FinishAt" type="bomtypesCommon:NullableDateTime" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Finish date and time</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Description" minOccurs="0" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Description</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PlannerGroup" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Planner Group for Customer Service and Plant Maintenance</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ProfitCenter" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Profit center</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="MaintenancePlanningPlantId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Maintenance planning plant</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ExternalId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Id that can uniquely identify object in external system.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="35"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ExternalDate" type="bomtypesCommon:NullableDate" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Date for object in external system.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="StatusProfileId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Status profile id.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="8"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="EquipmentId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Equipment id.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SalesOrderItemsAll" minOccurs="0" type="xsd:boolean">
							<xsd:annotation>
								<xsd:documentation>Shows that all SD order itemss are provided.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SalesOrderItems" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>SD orders.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Action" minOccurs="1" type="bomtypesCommon:DT_Action">
										<xsd:annotation>
											<xsd:documentation>Action.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Id">
										<xsd:annotation>
											<xsd:documentation>Id.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ItemNumber">
										<xsd:annotation>
											<xsd:documentation>Item number.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="6"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Address" minOccurs="0" type="bomtypesMasterData:AddressDto">
							<xsd:annotation>
								<xsd:documentation>Address.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SidsAll" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Shows that all SIDs are provided</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Sids" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>SIDs.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Action" type="bomtypesCommon:DT_Action">
										<xsd:annotation>
											<xsd:documentation>Action.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Sid">
										<xsd:annotation>
											<xsd:documentation>SID.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PlanKeysAll" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Shows that all plan keys are provided</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PlanKeys" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Plankeys node</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Action" type="bomtypesCommon:DT_Action">
										<xsd:annotation>
											<xsd:documentation>Action.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PlanKey">
										<xsd:annotation>
											<xsd:documentation>Plan key value</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="StatusesAll" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Shows that all statuses are provided</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Statuses" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Statused</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Action" type="bomtypesCommon:DT_Action">
										<xsd:annotation>
											<xsd:documentation>Action for status</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Value" type="bomtypesCommon:DT_Status">
										<xsd:annotation>
											<xsd:documentation>Status</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Room" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Room</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="8"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="IdMappingsAll" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Shows that all id mappings are provided.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="IdMappings" type="bomtypesCommon:IdMappingDto" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Id mappings.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>	
						<xsd:element name="SortField" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Sort field</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="30"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PartnersAll" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Shows that all partners provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Partners" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Partners</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Action" type="bomtypesCommon:DT_Action">
							<xsd:annotation>
								<xsd:documentation>Action for particular partner</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RoleId">
							<xsd:annotation>
								<xsd:documentation>Partner role</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PartnerNumber">
							<xsd:annotation>
								<xsd:documentation>Partner Id</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="12"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Address" type="bomtypesMasterData:AddressDto" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Partner address.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OperationsAll" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Shows that all partners provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Operations" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Operations</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Action" type="bomtypesCommon:DT_Action">
							<xsd:annotation>
								<xsd:documentation>Action for operation</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OperationRoutingNumberInOrder">
							<xsd:annotation>
								<xsd:documentation>Routing number of operations in the order</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="GeneralCounterForOrder">
							<xsd:annotation>
								<xsd:documentation>General counter for order</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="\d+"/>
									<xsd:maxLength value="8"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="TaskListId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Task list</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="TypeId">
										<xsd:annotation>
											<xsd:documentation>Type id.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Group">
										<xsd:annotation>
											<xsd:documentation>Group.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="GroupCounter">
										<xsd:annotation>
											<xsd:documentation>Group counter.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Number" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Number</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SuboperationNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Suboperation number</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ControlKey" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Control key</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="WorkCenter" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Work center.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="8"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Description" minOccurs="0" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Description.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="WorkAmount" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Work amount.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="7"/>
									<xsd:fractionDigits value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="WorkAmountUnitId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Work amount unit.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CostElement" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Cost element</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ExecutionFactor" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Execution factor</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="1"/>
									<xsd:maxInclusive value="999"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="TrackingNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Tracking number</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="IsRelevantForReservationOrPR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Reservation Relevance/Generation of Purchase Requisition</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ContractId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Purchase document id.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ContractItemNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Purchase document item number.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="5"/>
									<xsd:pattern value="\d+"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Price" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Price</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="11"/>
									<xsd:fractionDigits value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CurrencyId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Currency</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PriceUnit" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Price unit</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="StartAtConstraintType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Constraint type on the basic start date for the activity</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FinishAtConstraintType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Constraint type on the basic start date for the activity</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="StartAtConstraint" minOccurs="0" type="bomtypesCommon:NullableDateTime">
							<xsd:annotation>
								<xsd:documentation>
                  Constraint for activity start at
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FinishAtConstraint" minOccurs="0" type="bomtypesCommon:NullableDateTime">
							<xsd:annotation>
								<xsd:documentation>Constraint for finish at</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EarliestScheduledExecutionStartAt" minOccurs="0" type="bomtypesCommon:NullableDateTime">
							<xsd:annotation>
								<xsd:documentation>
                  Earliest scheduled start at.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EarliestScheduledExecutionFinishAt" minOccurs="0" type="bomtypesCommon:NullableDateTime">
							<xsd:annotation>
								<xsd:documentation>Earliest scheduled finish at.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Purchase requisition</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Id">
										<xsd:annotation>
											<xsd:documentation>Id.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ItemNumber">
										<xsd:annotation>
											<xsd:documentation>Item number.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="5"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="POs" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Purchase orders</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Id">
										<xsd:annotation>
											<xsd:documentation>Id.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ItemNumber">
										<xsd:annotation>
											<xsd:documentation>Item number.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="5"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="FrameworkOrderId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Framework order id.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FrameworkOrderItemNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Framework order item number.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ServicesAll" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Shows that all services for operation provided.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Services" minOccurs="0" maxOccurs="unbounded" type="bomtypesMM:ServicePackageItem2Dto">
							<xsd:annotation>
								<xsd:documentation>Services</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ComponentsAll" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Shows that all components for operation provided.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Components" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Components</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Action" type="bomtypesCommon:DT_Action">
										<xsd:annotation>
											<xsd:documentation>Action for component</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ReservationHeaderId">
										<xsd:annotation>
											<xsd:documentation>Reservation header id</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:pattern value="\d+"/>
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ReservationItemNumber">
										<xsd:annotation>
											<xsd:documentation>Reservation item number</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:pattern value="\d+"/>
												<xsd:maxLength value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ReservationRecordType">
										<xsd:annotation>
											<xsd:documentation>Reservation record type</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Number" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Number</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="MaterialId" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>MaterialId</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="18"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="BatchNumber" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Batch number</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="RequirementQuantity" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Requirement quantity</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="13"/>
												<xsd:fractionDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="RequirementUnitId" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Requirement quantity unit</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="RequirementDate" type="xsd:dateTime" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Requirement quantity date and time</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="StorageLocation" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Storage location</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="VendorId" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Vendor id</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PlantId" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Plant</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CategoryId" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Category</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ContractId" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Contract. Agreement number.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ContractItemNumber" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Contract item number. Agreement item number.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="5"/>
												<xsd:pattern value="\d+"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TrackingNumber" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Tracking number</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Description" minOccurs="0" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Description</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="IsRelevantForReservationOrPR" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Reservation Relevance/Generation of Purchase Requisition</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Price" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Price</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="11"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CurrencyId" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Currency</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="5"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PriceUnit" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Price unit</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="5"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="IsManualRequirementDate" type="xsd:boolean" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Shows that requirement date is provided manually</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Address" minOccurs="0" type="bomtypesMasterData:AddressDto">
										<xsd:annotation>
											<xsd:documentation>Delivery address</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ServiceLevel" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Service Level</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="6"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PR" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Purchase requisition</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Id">
													<xsd:annotation>
														<xsd:documentation>Id.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="ItemNumber">
													<xsd:annotation>
														<xsd:documentation>Item number.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="5"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="POs" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Purchase orders</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Id">
													<xsd:annotation>
														<xsd:documentation>Id.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="ItemNumber">
													<xsd:annotation>
														<xsd:documentation>Item number.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="5"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="SidsAll" type="xsd:boolean" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Shows that all SIDs are provided</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Sids" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>SIDs.</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Action" type="bomtypesCommon:DT_Action">
													<xsd:annotation>
														<xsd:documentation>Action.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="Sid">
													<xsd:annotation>
														<xsd:documentation>SID.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="30"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="UserField1" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>User specific field</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="50"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="AllowNonAssigningOfEquipment" minOccurs="0" type="xsd:boolean">
										<xsd:annotation>
											<xsd:documentation>Allows non assigning of equipment</xsd:documentation>
										</xsd:annotation>										
									</xsd:element>		
									<xsd:element name="EquipmentDatasAll" minOccurs="0" type="xsd:boolean">
										<xsd:annotation>
											<xsd:documentation>All equipment datas transferred</xsd:documentation>
										</xsd:annotation>										
									</xsd:element>									
									<xsd:element name="EquipmentDatas" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Equipment datas</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Action" type="bomtypesCommon:DT_Action">
													<xsd:annotation>
														<xsd:documentation>Action.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>											
												<xsd:element name="Counter">
													<xsd:annotation>
														<xsd:documentation>Counter.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="20"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>											
												<xsd:element name="ManufacturerSerialNumber" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Manufacturer serial number.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="30"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="FlocId" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Floc.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="30"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="UniqueItemId" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Unique item id. UII. </xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="72"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="EquipmentId" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Equipment id.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="18"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="SoftwareVersion" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Software version.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="10"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>			
												<xsd:element name="ConnectedTo" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>ConnectedTo.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="30"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="HardwareConfiguration" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Hardware configuration.</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="20"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="Configuration" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Configuration</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="20"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>	
												<xsd:element name="PlanKey" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Plan key</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="30"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="BuildInPosition" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Build in position</xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="4"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>												
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="CdpRelevancy" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>CDP relevancy</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="CdpRelevancy" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>CDP relevancy</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaterialDocumentIds" type="bomtypesMM:DT_MaterialDocumentId" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Material document ids</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FinancialOverview" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Financial overview</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CostTypeId">
							<xsd:annotation>
								<xsd:documentation>Cost type.CAPEX, OPEX or Not Assignable</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CostCenter">
							<xsd:annotation>
								<xsd:documentation>Cost center</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="AssetClass">
							<xsd:annotation>
								<xsd:documentation>Asset class</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="8"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CostElement">
							<xsd:annotation>
								<xsd:documentation>Cost element</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CurrencyId">
							<xsd:annotation>
								<xsd:documentation>Currency id</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="MaterialId">
							<xsd:annotation>
								<xsd:documentation>Material id</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PlanValue">
							<xsd:annotation>
								<xsd:documentation>Plan value</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="15"/>
									<xsd:fractionDigits value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ActualValue">
							<xsd:annotation>
								<xsd:documentation>Actual value</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="15"/>
									<xsd:fractionDigits value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ClassificationsAll" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Shows that all classification data was provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Classifications" type="bomtypesCommon:ClassificationDto" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Classifications entries.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>