Terminal/Terminal/Sources/Wsdls/ngerp_core_psl_int_global_v1_pm/DT_EquipmentDistributionData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/PM" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/PM" xmlns:bomtypesCommon="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1">
  <xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1" schemaLocation="../ngerp_core_psl_int_global_v1/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>  
  <xsd:complexType name="DT_EquipmentDistributionData">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">Equipment distribution data</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CreatedOrUpdated" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Created or updated equipment</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Equipment" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Created or updated equipment</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Id">
                    <xsd:annotation>
                      <xsd:documentation>Equipment Id</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Header" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>Header</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="CategoryId">
                          <xsd:annotation>
                            <xsd:documentation>Category id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="MaterialId">
                          <xsd:annotation>
                            <xsd:documentation>Material id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="18"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SerialNumber">
                          <xsd:annotation>
                            <xsd:documentation>SAP serial number</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="18"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ManufacturerSerialNumber">
                          <xsd:annotation>
                            <xsd:documentation>Manufacturer serial number</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="InventoryNumber">
                          <xsd:annotation>
                            <xsd:documentation>Inventory number</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="25"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="AcquisitionValue">
                          <xsd:annotation>
                            <xsd:documentation>Acquisition value</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="13"/>
                              <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="AcquisitionDate" type="xsd:date" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation>Acquisition date</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="AcquisitionValueCurrencyId">
                          <xsd:annotation>
                            <xsd:documentation>Acquisition value currency id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="5"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ExternalId">
                          <xsd:annotation>
                            <xsd:documentation>External Id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="18"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CSOrderId">
                          <xsd:annotation>
                            <xsd:documentation>CS order id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="12"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="TaxReliefIndicator">
                          <xsd:annotation>
                            <xsd:documentation>Tax relief indicator</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CableLength">
                          <xsd:annotation>
                            <xsd:documentation>Cable length</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="13"/>
                              <xsd:fractionDigits value="3"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="OwnershipIdentifier">
                          <xsd:annotation>
                            <xsd:documentation>Ownership identifier</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="6"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="StatusProfileId">
                          <xsd:annotation>
                            <xsd:documentation>Status profile</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="8"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Descriptions" minOccurs="0" maxOccurs="unbounded">
                          <xsd:annotation>
                            <xsd:documentation>Descriptions</xsd:documentation>
                          </xsd:annotation>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="Language">
                                <xsd:annotation>
                                  <xsd:documentation>2-letter language abbreviation according ISO 639-1</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="2"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="Text">
                                <xsd:annotation>
                                  <xsd:documentation>Text</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="HardwareConfiguration">
                          <xsd:annotation>
                            <xsd:documentation>Hardware configuration</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Configuration">
                          <xsd:annotation>
                            <xsd:documentation>Configuration</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="TechnologyClassification">
                          <xsd:annotation>
                            <xsd:documentation>Technology classification</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="16"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SoftwareVersion">
                          <xsd:annotation>
                            <xsd:documentation>Software version</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="5"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="UniqueItemId">
                          <xsd:annotation>
                            <xsd:documentation>Unique item id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="72"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="LastInventoryDate" minOccurs="0" type="xsd:date">
                          <xsd:annotation>
                            <xsd:documentation>Last inventory date</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="StartOfWarranty" minOccurs="0" type="xsd:date">
                          <xsd:annotation>
                            <xsd:documentation>Start of warranty</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="LengthOfWarranty" type="xsd:integer">
                          <xsd:annotation>
                            <xsd:documentation>Length of warranty</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="EndOfWarranty" minOccurs="0" type="xsd:date">
                          <xsd:annotation>
                            <xsd:documentation>End of warranty</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="LengthOfUsefulPeriod" type="xsd:integer">
                          <xsd:annotation>
                            <xsd:documentation>Length of useful period</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="VendorIdForRepair">
                          <xsd:annotation>
                            <xsd:documentation>Vendor id for repair</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="10"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="PhysicalInventoryResponsibleId">
                          <xsd:annotation>
                            <xsd:documentation>Physical inventory responsbile id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="12"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="OwnerVendorId">
                          <xsd:annotation>
                            <xsd:documentation>Owner vendor id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="10"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="OwnerCustomerId">
                          <xsd:annotation>
                            <xsd:documentation>Owner customer id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="10"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SupplierVendorId">
                          <xsd:annotation>
                            <xsd:documentation>Supplier vendor id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="10"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="DateDependentHeader" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation>Date dependent header data</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ValidToDate" type="xsd:date">
                          <xsd:annotation>
                            <xsd:documentation>Key field. Valid to date</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="Counter">
                          <xsd:annotation>
                            <xsd:documentation>Key field. Consecutive numbering of EquipUsagePeriods on same day</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="3"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="AssetNumber">
                          <xsd:annotation>
                            <xsd:documentation>Asset number</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="12"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="AssetSubnumber">
                          <xsd:annotation>
                            <xsd:documentation>Asset subnumber</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="AssetClass">
                          <xsd:annotation>
                            <xsd:documentation>Asset class</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="8"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="FunctionalLocationId">
                          <xsd:annotation>
                            <xsd:documentation>Functional location id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SuperordinateEquipmentId">
                          <xsd:annotation>
                            <xsd:documentation>Superordinate equipment id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="18"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="DisposalReasonId">
                          <xsd:annotation>
                            <xsd:documentation>Additional disposal reason</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="PlanKey">
                          <xsd:annotation>
                            <xsd:documentation>Plan key</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="BuildInPosition">
                          <xsd:annotation>
                            <xsd:documentation>Build in position</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ManufacturerPartNumber">
                          <xsd:annotation>
                            <xsd:documentation>Manufacturer part number</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ConnectedToFlocId">
                          <xsd:annotation>
                            <xsd:documentation>Connected to FLOC id</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="Statuses" type="bomtypesCommon:DT_Status" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation>Statuses</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="AllEquipmentForOrders" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Shows that current message contains all equipment for provided CS order ids.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="12"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>