Terminal/Terminal/Sources/Wsdls/ngerp_core_psl_int_global_v1_pm/DT_FunctionalLocationDistributionData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/PM" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/PM" 
            xmlns:bomtypesCommon="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1"
            xmlns:bomtypesMasterData="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MasterData"
>
    <xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1" schemaLocation="../ngerp_core_psl_int_global_v1/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>
    <xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MasterData" schemaLocation="../ngerp_core_psl_int_global_v1_master_data/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>
    <xsd:complexType name="DT_FunctionalLocationDistributionData">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Functional location changes.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="CreatedOrUpdated" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Created or updated functional locations.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Id">
                            <xsd:annotation>
                                <xsd:documentation>Functional location id</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Header" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Header</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="CategoryId">
                                        <xsd:annotation>
                                            <xsd:documentation>Category</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="1"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="StructureIndicator">
                                        <xsd:annotation>
                                            <xsd:documentation>Functional location structure indicator</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="5"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="StatusProfileId">
                                        <xsd:annotation>
                                            <xsd:documentation>Status profiel</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="8"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="MaintenancePlanningPlantId">
                                        <xsd:annotation>
                                            <xsd:documentation>Maintenance Planning Plant</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="4"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="MaintenancePlantId">
                                        <xsd:annotation>
                                            <xsd:documentation>Maintenance plant</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="4"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="CompanyId">
                                        <xsd:annotation>
                                            <xsd:documentation>Company</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="4"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Room">
                                        <xsd:annotation>
                                            <xsd:documentation>Room</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="8"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Descriptions" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Descriptions</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="Language">
                                                    <xsd:annotation>
                                                        <xsd:documentation>ISO 639-1 Code</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                        <xsd:restriction base="xsd:string">
                                                            <xsd:maxLength value="2"/>
                                                        </xsd:restriction>
                                                    </xsd:simpleType>
                                                </xsd:element>
                                                <xsd:element name="Text">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Text</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                        <xsd:restriction base="xsd:string">
                                                            <xsd:maxLength value="40"/>
                                                        </xsd:restriction>
                                                    </xsd:simpleType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="SuperiorFunctionalLocationId">
                                        <xsd:annotation>
                                            <xsd:documentation>Superior functional location id</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="30"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="OwnershipIndicatorId" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>Ownership indicator id</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="1"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="AOFunction" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>AO function</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="30"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="EquipmentAllowed" type="xsd:boolean" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>Installation of equipment is allowed</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="StatusesSpecified" type="xsd:boolean">
                            <xsd:annotation>
                                <xsd:documentation>Statuses specified</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="Statuses" type="bomtypesCommon:DT_Status" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Statuses</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="Address" type="bomtypesMasterData:DT_Address" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Address</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>