Terminal/Terminal/Sources/Wsdls/ngerp_core_psl_int_global_v1_pm/DT_TaskListDistributionData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/PM" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/PM"
            xmlns:bomtypesCommon="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1"
            xmlns:bomtypesMM="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM">
	<xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM" schemaLocation="../ngerp_core_psl_int_global_v1_mm/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>
	<xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1" schemaLocation="../ngerp_core_psl_int_global_v1/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>
	<xsd:include schemaLocation="DT_TaskListId.xsd"/>  
	<xsd:complexType name="DT_TaskListDistributionData">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">Task list changes</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CreatedOrUpdated" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Created or updated task lists</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Id">
							<xsd:complexType>
								<xsd:annotation>
									<xsd:documentation xml:lang="EN">Task list id</xsd:documentation>
								</xsd:annotation>
								<xsd:sequence>
									<xsd:element name="TypeId">
										<xsd:annotation>
											<xsd:documentation>Type</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Group">
										<xsd:annotation>
											<xsd:documentation>Group</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="GroupCounter">
										<xsd:annotation>
											<xsd:documentation>Counter</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>									
									<xsd:element name="InternalCounter" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Internal counter</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Header" minOccurs="0">
							<xsd:complexType>
								<xsd:annotation>
									<xsd:documentation>Header</xsd:documentation>
								</xsd:annotation>
								<xsd:sequence>
									<xsd:element name="ValidFrom" type="xsd:date">
										<xsd:annotation>
											<xsd:documentation>Valid from date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Description">
										<xsd:annotation>
											<xsd:documentation>Description</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="40"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="AssemblyId">
										<xsd:annotation>
											<xsd:documentation>Assembly</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="18"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="MaintenancePlanningPlantId">
										<xsd:annotation>
											<xsd:documentation>Maintenance Planning Plant</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PlannerGroup">
										<xsd:annotation>
											<xsd:documentation>Responsible planner group/department</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="IsDeleted" type="xsd:boolean">
										<xsd:annotation>
											<xsd:documentation>Is deleted</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Operations" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Task list operations</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="NumberInNode">
										<xsd:annotation>
											<xsd:documentation>Key field for operation in task list. Operation number in node</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="InternalCounter">
										<xsd:annotation>
											<xsd:documentation>Key field for operation in task list. Internal counter for operation</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ValidFrom" type="xsd:date">
										<xsd:annotation>
											<xsd:documentation>Valid from</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Number">
										<xsd:annotation>
											<xsd:documentation>Number</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="SuperiorOperationNumberInNode">
										<xsd:annotation>
											<xsd:documentation>Reference to superior operation</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ControlKey">
										<xsd:annotation>
											<xsd:documentation>Control key</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Description">
										<xsd:annotation>
											<xsd:documentation>Description</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="40"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="WorkAmount">
										<xsd:annotation>
											<xsd:documentation>Work amount</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="7"/>
												<xsd:fractionDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="WorkAmountUnitId">
										<xsd:annotation>
											<xsd:documentation>Unit</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="IsDeleted" type="xsd:boolean">
										<xsd:annotation>
											<xsd:documentation>Is deleted</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Components" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Components</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Number">
										<xsd:annotation>
											<xsd:documentation>Key field for component in task list.Component number in task list</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Counter">
										<xsd:annotation>
											<xsd:documentation>Key field for component in task list.Internal counter</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ValidFrom" type="xsd:date">
										<xsd:annotation>
											<xsd:documentation>Valid from</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="MaterialId">
										<xsd:annotation>
											<xsd:documentation>Material id</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="18"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Quantity">
										<xsd:annotation>
											<xsd:documentation>Quantity</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="13"/>
												<xsd:fractionDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="UnitId">
										<xsd:annotation>
											<xsd:documentation>Unit</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CategoryId">
										<xsd:annotation>
											<xsd:documentation>Item category</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="OperationNumberInNode">
										<xsd:annotation>
											<xsd:documentation>Reference to operation</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="OperationInternalCounter">
										<xsd:annotation>
											<xsd:documentation>Reference to operation</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="IsDeleted" type="xsd:boolean">
										<xsd:annotation>
											<xsd:documentation>Is deleted</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="OperationServices" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Services of operation</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="OperationNumberInNode">
										<xsd:annotation>
											<xsd:documentation>Reference to operation</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="OperationInternalCounter">
										<xsd:annotation>
											<xsd:documentation>Reference to operation</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Services" type="bomtypesMM:ServicePackageItem" minOccurs="0" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ClassificationData" type="bomtypesCommon:DT_ClassificationValue" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Classification data</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>