Terminal/Terminal/Sources/Wsdls/ngerp_core_psl_int_global_v1_pm/TaskListDto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/PM" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/PM"
            xmlns:bomtypesCommon="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1"
            xmlns:bomtypesMM="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM">
  <xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM" schemaLocation="../ngerp_core_psl_int_global_v1_mm/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>
  <xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1" schemaLocation="../ngerp_core_psl_int_global_v1/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>
  <xsd:include schemaLocation="DT_TaskListId.xsd"/>
  <xsd:complexType name="TaskListDto">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">Task list changes</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Action" type="bomtypesCommon:DT_Action" />
      <xsd:element name="Id" type="DT_TaskListId" />
      <xsd:element name="Header" minOccurs="0">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Header</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="ValidFrom" type="xsd:date" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Valid from date</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Description" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Description</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="40"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AssemblyId" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Assembly</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="18"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MaintenancePlanningPlantId" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Maintenance Planning Plant</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PlannerGroup" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Responsible planner group/department</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OperationsAll" minOccurs="0" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Shows that all operations are provided</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Operations" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Task list operations</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Action" type="bomtypesCommon:DT_Action" />
            <xsd:element name="NumberInNode">
              <xsd:annotation>
                <xsd:documentation>Key field for operation in task list. Operation number in node</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="8"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="InternalCounter">
              <xsd:annotation>
                <xsd:documentation>Key field for operation in task list. Internal counter for operation</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="8"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ValidFrom" type="xsd:date" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Valid from</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Number" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SuperiorOperationNumberInNode" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Reference to superior operation</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="8"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ControlKey" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Control key</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Description" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Description</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="40"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="WorkAmountUnitId" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Unit</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="WorkAmount" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Work amount</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="7"/>
                  <xsd:fractionDigits value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ComponentsAll" minOccurs="0" type="xsd:boolean">
              <xsd:annotation>
                <xsd:documentation>Shows that all components of operation are provided</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Components" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Components</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Action" type="bomtypesCommon:DT_Action" />
                  <xsd:element name="AllocationNumber">
                    <xsd:annotation>
                      <xsd:documentation>Key field for component in task list.Component number in task list</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Counter">
                    <xsd:annotation>
                      <xsd:documentation>Key field for component in task list.Internal counter</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="ValidFrom" type="xsd:date" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>Valid from</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="MaterialId" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>Material id</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Quantity" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>Quantity</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="UnitId" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>Unit</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="CategoryId" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>Item category</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ServicesAll" minOccurs="0" type="xsd:boolean">
              <xsd:annotation>
                <xsd:documentation>Shows that all services of operation are provided</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Services" minOccurs="0" maxOccurs="unbounded" type ="bomtypesMM:ServicePackageItem2Dto">
              <xsd:annotation>
                <xsd:documentation>Services of operation</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ClassificationsAll" minOccurs="0" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Shows that all classification date are provided</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Classifications" type="bomtypesCommon:ClassificationDto" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Classifications data</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>