Terminal/Terminal/Sources/Wsdls/wsdls/EnterpSupp/EnterpEffAndPrjMgmt/MaterialAsync/MaterialAsync-RPC-Consumer_v01.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MaterialAsyncConsumer" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:doc="http://schemas.telekom.net/csdg-service-documentation_v01.01" xsi:schemaLocation="http://schemas.telekom.net/csdg-service-documentation_v01.01 ../../../../xsds-csdg/csdg-service-documentation_v01.01.xsd" targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/MaterialAsync_v01.00/consumer" xmlns:tns="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/MaterialAsync_v01.00/consumer" xmlns:service="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/MaterialAsync_v01.00">
	<!--
		This wsdl has to be implemented by the Consumer to enable him to receive responses asynchronously from a Provider.
		It imports the abstract wsdl and adds the sections "binding" and "service".
		(The Consumer is the TECHNICAL provider, i.e. Server; The Provider is the TECHNICAL consumer, i.e. Client)
	-->
	<documentation>
		<!-- !! @AUTHORS: INCREMENT VERSION NUMBER AND ADAPT "kind-of-creation" AFTER CHANGES !! -->
		<doc:transport version="01.01.000" version-date="2015-06-09">
			<doc:kind-of-creation>GENERATED</doc:kind-of-creation>
		</doc:transport>
	</documentation>
	<import namespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/MaterialAsync_v01.00" location="MaterialAsync-RPC_v01.00.wsdl" />
	<binding name="MaterialAsyncConsumerBinding" type="service:MaterialAsyncConsumer">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getByFilterAsyncCallback">
			<soap:operation soapAction="getByFilterAsyncCallback" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>
		<operation name="getByFilterAsyncFault">
			<soap:operation soapAction="getByFilterAsyncFault" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>

		<operation name="checkAvailabilityAsyncCallback">
			<soap:operation soapAction="checkAvailabilityAsyncCallback" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>
		<operation name="checkAvailabilityAsyncFault">
			<soap:operation soapAction="checkAvailabilityAsyncFault" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>

		<operation name="getChangesAsyncCallback">
			<soap:operation soapAction="getByFilterAsyncCallback" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>
		<operation name="getChangesAsyncFault">
			<soap:operation soapAction="getChangesAsyncFault" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>

		<operation name="getStockByVendorAsyncCallback">
			<soap:operation soapAction="getStockByVendorAsyncCallback" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>
		<operation name="getStockByVendorAsyncFault">
			<soap:operation soapAction="getStockByVendorAsyncFault" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>

		<operation name="getBomStructureSimplifiedAsyncCallback">
			<soap:operation soapAction="getBomStructureSimplifiedAsyncCallback" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>
		<operation name="getBomStructureSimplifiedAsyncFault">
			<soap:operation soapAction="getBomStructureSimplifiedAsyncFault" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>

		<operation name="getStockLevelsAsyncCallback">
			<soap:operation soapAction="getStockLevelsAsyncCallback" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>
		<operation name="getStockLevelsAsyncFault">
			<soap:operation soapAction="getStockLevelsAsyncFault" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="MaterialAsyncConsumerService">
		<port name="MaterialAsyncConsumerPort" binding="tns:MaterialAsyncConsumerBinding">
			<soap:address location="https://10.254.118.59:8643/csdg/rpc/OneERP2-Q/tmcz.telekom.it.architecture.MT/MT/PSLIntMaterial/up" />
		</port>
	</service>
</definitions>