Terminal/Terminal/Sources/Wsdls/ngerp_core_psl_int_global_v1_mm/DT_MaterialDocumentItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM"
            xmlns="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bomtypesCommon="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1">
  <xsd:include schemaLocation="DT_MaterialDocumentId.xsd"/>
  <xsd:include schemaLocation="ReservationItemId.xsd"/>
  <xsd:complexType name="DT_MaterialDocumentItem">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">Material document item</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Number">
        <xsd:annotation>
          <xsd:documentation>Material document item number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MaterialId">
        <xsd:annotation>
          <xsd:documentation>Material id</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Quantity">
        <xsd:annotation>
          <xsd:documentation>Quantity</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="13"/>
            <xsd:fractionDigits value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="UnitId">
        <xsd:annotation>
          <xsd:documentation>Unit id</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MovementIndicator">
        <xsd:annotation>
          <xsd:documentation>Movement indicator</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OrderId">
        <xsd:annotation>
          <xsd:documentation>Order id</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OrderItemNumber">
        <xsd:annotation>
          <xsd:documentation>Order item number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PurchaseOrderId">
        <xsd:annotation>
          <xsd:documentation>Purchase order id</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PurchaseOrderItemNumber">
        <xsd:annotation>
          <xsd:documentation>Purchase order item number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MovementTypeId">
        <xsd:annotation>
          <xsd:documentation>Movement type</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DeliveryId">
        <xsd:annotation>
          <xsd:documentation>Delivery id</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DeliveryItemNumber">
        <xsd:annotation>
          <xsd:documentation>Delivery item number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CostCenter">
        <xsd:annotation>
          <xsd:documentation>Cost center</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ControllingAreaId">
        <xsd:annotation>
          <xsd:documentation>Controlling area id</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PlantId">
        <xsd:annotation>
          <xsd:documentation>Plant id</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="StorageLocation">
        <xsd:annotation>
          <xsd:documentation>Storage location</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="StornoItemId" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Reference to storno item</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MaterialDocumentId" type="DT_MaterialDocumentId">
              <xsd:annotation>
                <xsd:documentation>Material document id</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="ItemNumber">
              <xsd:annotation>
                <xsd:documentation>Material document item number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BatchNumber">
        <xsd:annotation>
          <xsd:documentation>Batch number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ValuationTypeId">
        <xsd:annotation>
          <xsd:documentation>Valuation type</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="VendorId">
        <xsd:annotation>
          <xsd:documentation>Vendor id</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SpecialStockIndicatorId">
        <xsd:annotation>
          <xsd:documentation>Special stock indicator</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CreatedAutomatically">
        <xsd:annotation>
          <xsd:documentation>Item was created automatically</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ReasonCode">
        <xsd:annotation>
          <xsd:documentation>Reason for movement</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ReservationItemId" type="ReservationItemId">
        <xsd:annotation>
          <xsd:documentation>Reservation item id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsFinalIssueForReservation" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Final issue for reservation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Amount">
        <xsd:annotation>
          <xsd:documentation>Amount in local currency</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="13"/>
            <xsd:fractionDigits value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CurrencyId">
        <xsd:annotation>
          <xsd:documentation>Local currency id</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ReceivingIssuingPlantId">
        <xsd:annotation>
          <xsd:documentation>Plant id</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ReceivingIssuingStorageLocation">
        <xsd:annotation>
          <xsd:documentation>Storage location</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ReceivingIssuingBatchNumber">
        <xsd:annotation>
          <xsd:documentation>Batch number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DebitCreditIndicator">
        <xsd:annotation>
          <xsd:documentation>Debit/Credit Indicator</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>