Terminal/Terminal/Sources/Wsdls/ngerp_core_psl_int_global_v1_mm/DT_MaterialDistributionData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM"
            xmlns="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bomtypesCommon="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1">
  <xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1" schemaLocation="../ngerp_core_psl_int_global_v1/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>
  <xsd:complexType name="DT_MaterialDistributionData">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">Material changes</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CreatedOrUpdated" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Created or updated materials</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Id">
              <xsd:annotation>
                <xsd:documentation>Material id</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="18"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Header" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Material header data</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="GroupId">
                    <xsd:annotation>
                      <xsd:documentation>Material group</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="9"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="UnitId">
                    <xsd:annotation>
                      <xsd:documentation>Base Unit of Measure</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="IsDeleted" type="xsd:boolean">
                    <xsd:annotation>
                      <xsd:documentation>Is deleted</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Descriptions" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation>Material description data</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Language">
                          <xsd:annotation>
                            <xsd:documentation>Language Key</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="2"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Text">
                          <xsd:annotation>
                            <xsd:documentation>Material Description (Short Text)</xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="40"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="TypeId">
                    <xsd:annotation>
                      <xsd:documentation>Material type id</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="ManufacturerNumber">
                    <xsd:annotation>
                      <xsd:documentation>Manufacturer number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="ManufacturerPartNumber">
                    <xsd:annotation>
                      <xsd:documentation>Manufacturer part number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ClassificationValue" type="bomtypesCommon:DT_ClassificationValue" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Classification Value</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="PlantDependentData" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Plant dependent data</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="PlantId">
                    <xsd:annotation>
                      <xsd:documentation>Plant</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="IsBatchManaged" type="xsd:boolean">
                    <xsd:annotation>
                      <xsd:documentation>Batch management requirement indicator</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IsDeleted" type="xsd:boolean">
                    <xsd:annotation>
                      <xsd:documentation>Is deleted</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="SerialNumberProfileId">
                    <xsd:annotation>
                      <xsd:documentation>Serial number profile id</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="ValuationCategoryId">
                    <xsd:annotation>
                      <xsd:documentation>Valuation category id</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="AlternativeMeasureUnits" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Material alternative measure units</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="UnitId">
                    <xsd:annotation>
                      <xsd:documentation>Alternative Unit of Measure for Stockkeeping Unit</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Denominator">
                    <xsd:annotation>
                      <xsd:documentation>Denominator for conversion to base units of measure</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="5"/>
                        <xsd:fractionDigits value="0"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Numerator">
                    <xsd:annotation>
                      <xsd:documentation>Numerator for Conversion to Base Units of Measure</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="5"/>
                        <xsd:fractionDigits value="0"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Valuation" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Valuation data</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="AreaId">
                    <xsd:annotation>
                      <xsd:documentation>Valuation area</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="TypeId">
                    <xsd:annotation>
                      <xsd:documentation>Valuation type</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="ClassId">
                    <xsd:annotation>
                      <xsd:documentation>Valuation classs</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="IsDeleted" type="xsd:boolean">
                    <xsd:annotation>
                      <xsd:documentation>Is deleted</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TotalValuatedStockQuantity">
                    <xsd:annotation>
                      <xsd:documentation>Total Valuated Stock</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="TotalValuatedStockValue">
                    <xsd:annotation>
                      <xsd:documentation>Value of Total Valuated Stock</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="2"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="PriceControlIndicator">
                    <xsd:annotation>
                      <xsd:documentation>Price Control Indicator</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="MovingAveragePrice">
                    <xsd:annotation>
                      <xsd:documentation>Moving Average Price/Periodic Unit Price</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="11"/>
                        <xsd:fractionDigits value="2"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Price">
                    <xsd:annotation>
                      <xsd:documentation>Standard price</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="11"/>
                        <xsd:fractionDigits value="2"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="PriceUnit">
                    <xsd:annotation>
                      <xsd:documentation>Price unit quantity. Number of units to which the price refers.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="5"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>