Terminal/Terminal/Sources/Wsdls/ngerp_core_psl_int_global_v1_mm/MaterialDto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM"
            xmlns="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1/MM"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bomtypesCommon="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1">
	<xsd:import namespace="http://telekom.de/xi/NGERP_CORE_PSLINT/global/v1" schemaLocation="../ngerp_core_psl_int_global_v1/EnterpSupp.EnterpEffAndPrjMgmt_SchemaMaster.xsd"/>
	<xsd:complexType name="MaterialDto">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">Material</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Action" type="bomtypesCommon:DT_Action"/>
			<xsd:element name="Id">
				<xsd:annotation>
					<xsd:documentation>Material id</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="18"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Header" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Material header data</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GroupId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Material group</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="9"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="UnitId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Base Unit of Measure</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DescriptionsAll" minOccurs="0" type="xsd:boolean">
							<xsd:annotation>
								<xsd:documentation>Shows that all descriptions are provided.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Descriptions" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Material description data</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Action" type="bomtypesCommon:DT_Action"/>
									<xsd:element name="Language">
										<xsd:annotation>
											<xsd:documentation>Language Key</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Text">
										<xsd:annotation>
											<xsd:documentation>Material Description (Short Text)</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="40"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="TypeId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Material type id</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ManufacturerNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Manufacturer number</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ManufacturerPartNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Manufacturer part number</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="40"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="OriginCountryId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Origin country id</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="InternationalArticleNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>International article number</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DangerousGoodsProfileId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Dangerous goods profile </xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="GrossWeight" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Gross weight</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="13"/>
									<xsd:fractionDigits value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="NetWeight" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Net weight</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="13"/>
									<xsd:fractionDigits value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="WeightUnitId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Weight unit id</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Volume" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Volume</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="13"/>
									<xsd:fractionDigits value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="VolumeUnitId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Volume unit id</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Length" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Length</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="13"/>
									<xsd:fractionDigits value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Width" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Width</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="13"/>
									<xsd:fractionDigits value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Height" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Height</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="13"/>
									<xsd:fractionDigits value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="LengthWidthHeightUnitId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Unit of length, width and height</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ClassificationAll" minOccurs="0" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Shows that all classification data was provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Classification" type="bomtypesCommon:ClassificationDto" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Classification Value</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlantDependentDataAll" minOccurs="0" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Shows that all plant dependent data is provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlantDependentData" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Plant dependent data</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Action" type="bomtypesCommon:DT_Action"/>
						<xsd:element name="PlantId">
							<xsd:annotation>
								<xsd:documentation>Plant</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="IsBatchManaged" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Batch management requirement indicator</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SerialNumberProfileId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Serial number profile id</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ValuationCategoryId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Valuation category id</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="EquipmentRelevancy" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Equipment relevancy.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PlantSpecificStatus" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Plant specific status</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CommodityOrImportCode" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Commodity or import code</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="17"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="OriginCountryId" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Origin country id</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AlternativeMeasureUnitsAll" minOccurs="0" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Shows that all alternative measure units are provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AlternativeMeasureUnits" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Material alternative measure units</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Action" type="bomtypesCommon:DT_Action"/>
						<xsd:element name="UnitId">
							<xsd:annotation>
								<xsd:documentation>Alternative Unit of Measure for Stockkeeping Unit</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Denominator" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denominator for conversion to base units of measure</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="5"/>
									<xsd:fractionDigits value="0"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Numerator" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Numerator for Conversion to Base Units of Measure</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="5"/>
									<xsd:fractionDigits value="0"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ValuationsAll" minOccurs="0" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Shows that all valuations are provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Valuations" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Valuation data</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Action" type="bomtypesCommon:DT_Action"/>
						<xsd:element name="AreaId">
							<xsd:annotation>
								<xsd:documentation>Valuation area</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="TypeId">
							<xsd:annotation>
								<xsd:documentation>Valuation type</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ClassId">
							<xsd:annotation>
								<xsd:documentation>Valuation classs</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="TotalValuatedStockQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Total Valuated Stock</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="13"/>
									<xsd:fractionDigits value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="TotalValuatedStockValue" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Value of Total Valuated Stock</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="13"/>
									<xsd:fractionDigits value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PriceControlIndicator" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Price Control Indicator</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="MovingAveragePrice" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Moving Average Price/Periodic Unit Price</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="11"/>
									<xsd:fractionDigits value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Price" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Standard price</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="11"/>
									<xsd:fractionDigits value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PriceUnit" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Price unit quantity. Number of units to which the price refers.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AssetClassesAll" minOccurs="0" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Shows that all asset classes are provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssetClasses" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>AssetClasses</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Action" type="bomtypesCommon:DT_Action"/>
						<xsd:element name="AssetClassId">
							<xsd:annotation>
								<xsd:documentation>Asset class</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="8"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>