Terminal/Terminal/Sources/Wsdls/wsdls/EnterpSupp/EnterpEffAndPrjMgmt/CSOrderAsync/CSOrderAsync-RPC_v01.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CSOrderAsync" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:doc="http://schemas.telekom.net/csdg-service-documentation_v01.01" xsi:schemaLocation="http://schemas.telekom.net/csdg-service-documentation_v01.01 ../../../../xsds-csdg/csdg-service-documentation_v01.01.xsd" xmlns:csdg="http://schemas.telekom.net/csdg_v01.01" targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/CSOrderAsync_v01.00" xmlns:tns="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/CSOrderAsync_v01.00">
  <documentation>
    <!-- !! @AUTHORS: INCREMENT VERSION NUMBER AND ADAPT "kind-of-creation" AFTER CHANGES !! -->
    <doc:service governance-area="tint" domain="EnterpSupp" functional-component="EnterpEffAndPrjMgmt" version="01.00.000" version-date="2017-05-17" isLogicalService="true">
      <doc:description>
Updated on 04.11.2017 12:24:48, UTC
15486	07.09.2017 15:34:33	No more extensibility
14990	07.08.2017 10:14:56	&lt;xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/&gt;

Updated on 07.08.2017 08:48:29, UTC
14987	07.08.2017 08:45:25	CSOrderChangeDto. Node Operations/TaskListReference/OperationNumber length change from 2 to 4.
CSOrderChangeDto. Node Header/WbsElementId - restriction pattern removed
CSOrderFilterDto. Node Criterions/WbeElementsIds. Typo fix -&gt; WbsElementIds

Updated on 01.06.2017 10:45:52, UTC
14117	01.06.2017 10:04:33	Version fix. MOM deleted
13980	23.05.2017 08:08:18	Transporatation zone

Updated on 17.05.2017 14:24:44, UTC
13939	17.05.2017 14:22:20	Dto suffix for bussiness types
13924	17.05.2017 08:05:23	Renaming
13923	17.05.2017 07:44:29	Dto suffix

Updated on 10.05.2017 08:59:11, UTC
13631	14.04.2017 12:31:19	Statuses correction
13579	10.04.2017 14:12:40	Material document + service wsdl
13550	06.04.2017 11:54:40	Minor corrections

Updated on 30.03.2017 09:32:06, UTC
13378	17.03.2017 11:12:44	typo in type fix
13377	17.03.2017 10:58:50	FullObject for change filter
13355	16.03.2017 18:24:45	Occurence fix
13354	16.03.2017 18:23:13	Typo + mesasges structure
13352	16.03.2017 17:17:07	Change marker fix
13280	13.03.2017 08:14:19	Typo fixed
13268	10.03.2017 10:20:49	Messages for GetByFilter
12851	10.02.2017 17:17:44	CSOrder async
12531	17.01.2017 10:06:35	Task list minor corrections + wsdls
12469	11.01.2017 11:42:50	Action field added
12465	11.01.2017 10:32:48	Minor corrections
12444	10.01.2017 11:44:33	Wsdl for service + structure corrections
12437	09.01.2017 13:37:08	New address structure
12436	09.01.2017 13:35:19	Create or change structures updated
12431	08.01.2017 12:52:01	Minor corrections
12430	08.01.2017 12:28:03	Correction in types
12404	04.01.2017 11:32:02	Typo fix in describtion
</doc:description>
      <doc:designer>mailto:Augustinus.Deimel@telekom.de</doc:designer>
      <doc:kind-of-creation>GENERATED</doc:kind-of-creation>
      <doc:change predecessorVersion="01.00.000" by="A.Deimel" date="2014-11-25" doc:lang="en">15486</doc:change>
    </doc:service>
  </documentation>
  <types>
    <xsd:schema targetNamespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/CSOrderAsync_v01.00" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.00" xmlns:types="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/CSOrderAsync_v01.00/types">
      <!-- ****************************************************************** -->
      <xsd:import namespace="http://schemas.telekom.net/csdg_v01.01" schemaLocation="../../../../xsds-csdg/csdg_v01.01.xsd" />
      <xsd:import namespace="http://services.tint.telekom.net/EnterpSupp/EnterpEffAndPrjMgmt/CSOrderAsync_v01.00/types" schemaLocation="CSOrderAsync_v01.00.xsd" />
      <!-- ****************************************************************** -->
      <xsd:element name="getByFilterAsync" type="types:GetByFilterAsyncRequestType" />
      <xsd:element name="getByFilterAsyncCallback" type="types:GetByFilterAsyncResponseType" />
      <xsd:element name="getByFilterAsyncFault" type="types:GetByFilterAsyncFaultType" />
      <xsd:element name="createOrChangeAsync" type="types:CreateOrChangeAsyncRequestType" />
      <xsd:element name="createOrChangeAsyncCallback" type="types:CreateOrChangeAsyncResponseType" />
      <xsd:element name="createOrChangeAsyncFault" type="types:CreateOrChangeAsyncFaultType" />
      <xsd:element name="getChangesAsync" type="types:GetChangesAsyncRequestType" />
      <xsd:element name="getChangesAsyncCallback" type="types:GetChangesAsyncResponseType" />
      <xsd:element name="getChangesAsyncFault" type="types:GetChangesAsyncFaultType" />
    </xsd:schema>
  </types>
  <!-- ****************************************************************** -->
  <!-- Messages : -->
  <!-- ****************************************************************** -->
  <message name="GetByFilterAsyncRequest">
    <part name="parameters" element="tns:getByFilterAsync" />
  </message>
  <message name="GetByFilterAsyncResponse">
    <part name="parameters" element="tns:getByFilterAsyncCallback" />
  </message>
  <message name="GetByFilterAsyncFault">
    <part name="parameters" element="tns:getByFilterAsyncFault" />
  </message>
  <message name="GetChangesAsyncRequest">
    <part name="parameters" element="tns:getChangesAsync" />
  </message>
  <message name="GetChangesAsyncResponse">
    <part name="parameters" element="tns:getChangesAsyncCallback" />
  </message>
  <message name="GetChangesAsyncFault">
    <part name="parameters" element="tns:getChangesAsyncFault" />
  </message>
  <message name="CreateOrChangeAsyncRequest">
    <part name="parameters" element="tns:createOrChangeAsync" />
  </message>
  <message name="CreateOrChangeAsyncResponse">
    <part name="parameters" element="tns:createOrChangeAsyncCallback" />
  </message>
  <message name="CreateOrChangeAsyncFault">
    <part name="parameters" element="tns:createOrChangeAsyncFault" />
  </message>
  <message name="EmptyTechnicalResponse">
    <part name="parameters" element="csdg:empty" />
  </message>
  <message name="TechnicalFault">
    <part name="parameters" element="csdg:technicalFault" />
  </message>
  <!-- ****************************************************************** -->
  <!-- PortTypes : -->
  <!-- ****************************************************************** -->
  <!-- Provider: -->
  <portType name="CSOrderAsync">
    <operation name="getByFilterAsync">
      <documentation>
        <doc:operation mep="RequestCallback" access="ReadOnly">
          <doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "getByFilterAsync" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:GetByFilterAsyncRequest" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="getChangesAsync">
      <documentation>
        <doc:operation mep="RequestCallback" access="ReadOnly">
          <doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "getChangesAsync" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:GetChangesAsyncRequest" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="createOrChangeAsync">
      <documentation>
        <doc:operation mep="RequestCallback" access="ReadOnly">
          <doc:description>
						-------------------------- @TODO:DESCRIBE_ME - Operation "createOrChangeAsync" -----------------------------
					</doc:description>
        </doc:operation>
      </documentation>
      <input message="tns:CreateOrChangeAsyncRequest" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
  </portType>
  <!-- ****************************************************************** -->
  <!-- Consumer : -->
  <portType name="CSOrderAsyncConsumer">
    <operation name="getByFilterAsyncCallback">
      <input message="tns:GetByFilterAsyncResponse" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="getByFilterAsyncFault">
      <input message="tns:GetByFilterAsyncFault" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="getChangesAsyncCallback">
      <input message="tns:GetChangesAsyncResponse" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="getChangesAsyncFault">
      <input message="tns:GetChangesAsyncFault" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="createOrChangeAsyncCallback">
      <input message="tns:CreateOrChangeAsyncResponse" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
    <operation name="createOrChangeAsyncFault">
      <input message="tns:CreateOrChangeAsyncFault" />
      <output message="tns:EmptyTechnicalResponse" />
      <fault message="tns:TechnicalFault" name="TechnicalFault" />
    </operation>
  </portType>
</definitions>